<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>result</title>
</head>

<body>

<table width='100' height="100"  border = '1'>
	<tr><th>序号</th><th>用例编号</th><th>用例名称</th><th>请求的URL</th><th>响应内容</th><th>请求时间</th><th>响应时间</th><th>请求耗时</th><th>响应码</th><th>预期结果</th><th>执行情况</th></tr>
	<tr>
	{% if result_list %}
		{% for i in result_list %}
			<td>{{ i }}</td>
		{% endfor %}
	{% else %}
	<p> No datas ...</p>
	{% endif %}
	</tr>
</table>
<p>
<a href="/outFile/{{table_name}}">生成文件</a>
<p>
<a href="/index/test">返回主页</a>	
</body>

</html>