<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>测试用例主页</title>
</head>
<body>
<h1>Hi,{{host}},欢迎登陆测试用例界面</h1>
<table width='1000' border = '1'>


<tr><th>ID</th><th>Case_Code</th><th>Case_Name</th><th>Request_Url</th><th>Case_Desc</th><th>Operation1</th><th>Operation2</th><th>Operation3</th></tr>

{% if data %}
	{% for winlog in winloglist.object_list %}
		<tr><td><a href='/index/{{winlog.id}}/params'>{{winlog.id}}</a></td>
		<td>{{winlog.case_code}}</td>
		<td>{{winlog.case_name}}</td>
		<td>{{winlog.request_url}}</td>
		<td>{{winlog.case_desc}}</td>
		<td><a href="modify/{{winlog.id}}">修改</a></td>
		<td><a href="del/{{winlog.id}}">删除</a></td>
		<td><a href="/create/{{winlog.id}}">执行测试</a></td></tr> 
	{% endfor %}
	
	
{% else %}
	<p>No datas are available.</p>
{% endif %}


<!-- 第{{winloglist.number}}>页 共{{winloglist.p.num_pages}}页-->
	
</table>

{% if winloglist.has_previous %}
	<a href="?page={{yqw_previous}}" title="上一页">上一页</a>&nbsp;
{% endif %}

{% for x in page_range %}
	{% ifequal x winloglist.number %}
		<span>{{x}}</span>&nbsp;
	{% else %}
		<a href="?page={{x}}" title="第{{x}}页">{{x}}</a>&nbsp;
	{% endifequal %}
	{% endfor %}
	
{% if winloglist.has_next %}
	&nbsp;<a href="?page={{yqw_next}}" title="下一页">下一页<a>
{% endif %}

&nbsp;<a href="?page=1" title="首页">首页<a>
&nbsp;<a href="?page={{tatol_page}}" title="末页">末页<a>

<p>****************当前页数:{{page}},总共页数:{{tatol_page}}****************</p>
<p><a href="/login">重新登录</a> <a href="add/1">添加用例</a></p>
<p><a href="manyexcute/policy">多条执行</a></p>


</body>
</html>