<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Language" content="zh-cn" />
	<title>多条用例执行策略</title>
	<meta name="author" content="http://hi.baidu.com/%E7%B4%AB%E7%9F%B3" />
</head>
<body>

<form action="/index/manyexcute/result" method="post" enctype="application/x-www-form-urlencoded">
请输入需要测试的用例ID：
<p><textarea  rows='5' cols='40' id="manyid" name="manyid" onfocus="if(this.value=='请输入要执行的用例ID,中间用逗号隔开,例如(1,2,3);若有连续的用例ID,请输入,例如(11-20);若要执行所有,请输入all') {this.value='';}" onblur="if(this.value=='') {this.value='请输入要执行的用例ID,中间用逗号隔开,例如(1,2,3);若有连续的用例ID,请输入,例如(11-20);若要执行所有,请输入all';}">请输入要执行的用例ID,中间用逗号隔开,例如(1,2,3);若有连续的用例ID,请输入,例如(11-20);若要执行所有,请输入all</textarea></p>
请输入需要测试的用例的执行频率：
<p><textarea  rows='1' cols='40' id="freqid" name="freqid" onfocus="if(this.value=='请输入用例执行频率,例如(1)') {this.value='';}" onblur="if(this.value=='') {this.value='请输入用例执行频率,例如(1)';}">请输入用例执行频率,例如(1)</textarea></p>
请输入频率间的间隔时间(单位为:秒,默认为0秒)：
<p><textarea rows='1' cols='40' id="timesleep" name="timesleep">0</textarea></p>

<p><input type="submit" value="执行用例" />
<p>
<a href="/index/test">返回主页</a>



</form>

</body>
</html>